body {
	background: #ccc;
	background-image: url("https://wow.zamimg.com/uploads/screenshots/normal/980483.jpg");
	background-position: top;
	font-family:Comic Sans MS;
	max-width: 700px;
	margin: auto;
}

a{
	font-size: 12px;
	font-style: italic;
}

#title, .subtitle, .post_title {
	color: blue;
}


.text{
	font-size: 22px;
	font-style: bold;
	text-decoration: underline;
	text-transform: capitalize;
	text-align: center;
}

.post_title {
	font-size: 18px;
	font-style: italic;
}

.post {
	background: #FFF;
	padding: 10px;
	border: 3px dashed #000;
	margin: 15px;
}
.post_img{
	border: 1px;
	border-radius:50%
}

ul {
	list-style-type: square;
	padding: 1px
}